<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Leave Management System
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                
                <ul class="nav nav-tabs">
                    <li class="active" ><a (click)="getList(1)">Approved Leaves</a></li>
                    <li><a  (click)="getList(2)">Rejected Leaves</a></li>
                    <li><a (click)="getList(4)">Pending Leaves</a></li>
                    <li><a (click)="getList(3)">Canceled Leaves</a></li>
                    <li><a (click)="getList(5)">All History</a></li>
                </ul>
                <h4 class="text-center">{{title}}</h4>
                <table class="table table-condensed text-center">
                    <tr class="ILTS_customRow">
                        <th>Ref. No</th>
                        <th>Emp. Code</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th *ngIf="[(title)] == 'Pending Leaves'">Action</th>
                        <th *ngIf="[(title)] != 'Pending Leaves'">Approved By</th>
                        
                    </tr>
                    <tr *ngFor = "let lh of leaveHistoryList">
                        <td>{{lh.req_no}}</td>
                            <td>{{lh.emp_code}}</td>
                            <td>{{lh.leave_start_date | date:"dd-MMM-yyyy"}}</td>
                            <td>{{lh.leave_end_date | date:"dd-MMM-yyyy"}}</td>
                            <td>{{lh.reason}}</td>
                            <td>{{lh.status}}</td>
                            
                            <td *ngIf="[(title)] == 'Pending Leaves'">
                                <button (click)="editLeave(lh.req_no)" class="btn btn-xs btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit" [hidden]="lh.status != 'Pending'"></i></button>
                                <button  class="btn btn-xs btn-success" data-toggle="modal" data-target="#deletemodal" (click)="cancelLeave(lh.req_no)"><i class="fa fa-times" [hidden]="lh.status != 'Pending'"></i></button>       
                                
                            </td>
                            <td *ngIf ="lh.status != 'Pending' && [(title)] != 'All History'">{{lh.approvedByName || "-"}}</td>
                            
                      </tr>
                     
                </table>
                
             
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>





    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog modal-lg" style="margin-top:10%">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Pending Leaves</h4>
        </div>
        <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Request Id</label>
            <input type="text" class="form-control" disabled="disabled" [(ngModel)]="currentrequest.req_no" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label>Start Date</label>
            <input [ngModel]="currentrequest.leave_start_date | date:'yyyy-MM-dd'" (ngModelChange)="currentrequest.leave_start_date=$event" name="inputField" type="date"  class="form-control"  [ngModelOptions]="{standalone: true}" />
            <!-- <input type="date" class="form-control" [(ngModel)]="date"  [ngModelOptions]="{standalone: true}"> -->
          </div>
          

          <div class="form-group">
            <label>End Date</label>
            <input [ngModel]="currentrequest.leave_end_date | date:'yyyy-MM-dd'" (ngModelChange)="currentrequest.leave_end_date=$event" name="inputField" type="date"  class="form-control"  [ngModelOptions]="{standalone: true}" (change)="validEndDate(currentrequest.leave_start_date,currentrequest.leave_end_date)"/>
            <!-- <input type="date" class="form-control" [(ngModel)]="date" [ngModelOptions]="{standalone: true}"> -->
          </div>
          <div class="form-group">
                <label>Leave Type</label>
                <select class="form-control" [(ngModel)]="currentrequest.leave_type" [ngModelOptions]="{standalone: true}" (change)="validLeaveType()">
                        <option value="">Select Leave Type</option>
                        <option value="1">Casual Leave</option>
                        <option value="2">Privilage Leave</option>
                        <option value="3">Compansatory Leave</option>   
            
                 </select>
              </div>
              <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" [(ngModel)]="currentrequest.phone_no" [ngModelOptions]="{standalone: true}" >
                  </div>
          <div class="form-group">
            <label>Reason</label>
            <input type="text" class="form-control" [(ngModel)]="currentrequest.reason" [ngModelOptions]="{standalone: true}" >
          </div>
          <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" [(ngModel)]="currentrequest.contact_details" [ngModelOptions]="{standalone: true}" >
              </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="updateLeave(currentrequest.req_no)"  class="btn btn-primary" data-dismiss="modal" >Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="deletemodal" role="dialog">      
                <div class="modal-dialog modal-sm" style="margin-top:10%">
                  <div class="modal-content">
                   
                    <div class="modal-body">
                  <h3>Are you sure you want to cancel the requested leave ?</h3>
                    </div>
                    <div class="modal-footer">
                      <button type="button" (click)="close()" class="btn btn-primary" data-dismiss="modal">Yes</button>
                      <button  type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>
            